[Service]
# Unset vendor unit ExecStart to avoid cumulative definition
ExecStart=
{% if slurm_with_jwt %}
Environment="SLURM_JWT=daemon"
ExecStart=/usr/sbin/slurmrestd $SLURMRESTD_OPTIONS [::]:6820
{% else %}
ExecStart=/usr/sbin/slurmrestd $SLURMRESTD_OPTIONS unix:/run/slurmrestd/slurmrestd.socket
{% endif %}
User=slurm
Group=slurm
