DbdHost=localhost                    # must be specified
SlurmUser=slurm                      # default: root
StorageType=accounting_storage/mysql # must be specified
StoragePass={{ slurm_db_password }}  # must be specified
StorageUser=slurm                    # must be specified
{% if slurm_with_munge %}
AuthType = auth/munge
{% else %}
AuthType = auth/slurm
{% endif %}
{% if slurm_with_jwt %}
AuthAltTypes=auth/jwt
AuthAltParameters=jwt_key={{ slurm_jwt_key_path }}
{% endif %}
{% for key, value in slurmdbd_params.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if slurm_with_db_archive %}
ArchiveDir={{ slurm_db_archive_dir }}
ArchiveEvents=yes
ArchiveJobs=yes
ArchiveResvs=yes
ArchiveSteps=yes
PurgeEventAfter={{ slurm_db_purge_after }}
PurgeJobAfter={{ slurm_db_purge_after }}
PurgeResvAfter={{ slurm_db_purge_after }}
PurgeStepAfter={{ slurm_db_purge_after }}
{% endif %}
