[Service]
# Unset vendor unit ExecStart to avoid cumulative definition
ExecStart=
{% if slurm_with_jwt %}
Environment="SLURM_JWT=daemon"
ExecStart=/usr/sbin/slurmrestd $SLURMRESTD_OPTIONS [::]:6820
{% else %}
Environment=
Environment=SLURMRESTD_SECURITY=disable_user_check
ExecStart=/usr/sbin/slurmrestd $SLURMRESTD_OPTIONS {% if not slurm_with_accounting %}-s openapi/slurmctld {% endif %}unix:{{ slurm_restd_socket }}
RuntimeDirectory=slurmrestd
RuntimeDirectoryMode=0755
{% endif %}
User=slurm
Group=slurm
# There are probably some memory leaks in slurmrestd, it strictly consumes more
# memory requests after requests. As a workaround to this, set a memory limit so
# that kernel OOM kills the service when it is reached, and restart the service
# immediately.
MemoryMax=3G
Restart=always
