ClusterName={{ slurm_cluster }}                   # must be specified
SlurmctldHost=admin                               # must be specified
SlurmUser=slurm                                   # default: root
StateSaveLocation={{ slurm_state_save_loc }}      # default: /var/spool
SlurmdSpoolDir={{ slurm_slurmd_spool_dir }}       # default: /var/spool/slurmd
AccountingStorageType=accounting_storage/slurmdbd # default: accounting_storage/none
AccountingStorageHost=admin                       # must be specified, as soon as slurmdbd is used
AccountingStorageEnforce=qos,limits,associations  # default: none
{% if slurm_with_jwt %}
AuthAltTypes=auth/jwt
AuthAltParameters=jwt_key={{ slurm_jwt_key_path }}
{% endif %}

NodeName=cn[1-2] Procs=2 State=UNKNOWN
PartitionName=normal Nodes=cn[1-2] Default=YES MaxTime=INFINITE State=UP
