DbdHost=localhost                    # must be specified
SlurmUser=slurm                      # default: root
StorageType=accounting_storage/mysql # must be specified
StoragePass={{ slurm_db_password }}  # must be specified
StorageUser=slurm                    # must be specified
