ClusterName={{ slurm_cluster }}                   # must be specified
SlurmctldHost={{ slurm_server }}                  # must be specified
# Disable compute nodes sockets/cores/memory configuration matching check and
# avoid nodes from being set to INVALID state. This is especially useful with
# FireHPC to emulate large compute nodes on more reasonable host.
SlurmdParameters=config_overrides                 # default: none
SlurmUser=slurm                                   # default: root
StateSaveLocation={{ slurm_state_save_loc }}      # default: /var/spool
SlurmdSpoolDir={{ slurm_slurmd_spool_dir }}       # default: /var/spool/slurmd
{% if slurm_with_munge %}
AuthType = auth/munge
CredType = cred/munge
{% else %}
AuthType = auth/slurm
CredType = cred/slurm
{% endif %}
{% if slurm_with_accounting %}
AccountingStorageType=accounting_storage/slurmdbd # default: accounting_storage/none
AccountingStorageHost={{ slurm_server }}          # must be specified, as soon as slurmdbd is used
AccountingStorageEnforce=qos,limits,associations  # default: none
{% endif %}
{% if slurm_with_jwt %}
AuthAltTypes=auth/jwt
AuthAltParameters=jwt_key={{ slurm_jwt_key_path }}
{% endif %}
{% if slurm_emulator %}
{# Avoid cgroup on frontend node in emulator that would generate too many files/dirs in virtual FS #}
ProctrackType=proctrack/linuxproc
{% endif %}
{% for key, value in slurm_params.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if slurm_with_gres_gpu %}
GresTypes=gpu
{% endif %}

{% for node_type in slurm_compute_nodes %}
NodeName={{ node_type.nodes | nodeset_fold }} Sockets={{ node_type.sockets }} CoresPerSocket={{ node_type.cores }} RealMemory={{ node_type.memory }}{% if not slurm_emulator and node_type.gpus | length > 0 %} Gres={% for model, nb in node_type.gpus.items() %}gpu{% set has_model = (model in slurm_gpus_models_map and slurm_gpus_models_map.get(model) is not none) %}{% if has_model %}:{{ slurm_gpus_models_map.get(model, 'nvidia') }}{% endif %}:{{ nb }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}{% if slurm_emulator %} NodeHostName={{ slurm_server }}{% endif %} State=UNKNOWN
{% endfor %}
{% for slurm_partition in slurm_partitions %}
PartitionName={{ slurm_partition.name }} Nodes={{ slurm_partition.nodes }} Default={{ "YES" if "default" in slurm_partition and slurm_partition.default else "NO" }}{% for param, value in slurm_partition.params.items() %} {{param}}={{value}}{% endfor %}

{% endfor %}
