---
- name: Gather OS specific variables
  ansible.builtin.include_vars:
    file: "os/{{ ansible_facts.os_family | lower }}.yml"

- name: Ensure Slurm-web packages are installed
  ansible.builtin.package:
    name: "{{ slurmweb_packages }}"
    state: latest

- name: Obtain Slurm JWT
  block:
  - name: Generate JWT with Slurm scontrol
    ansible.builtin.command: scontrol token lifespan=infinite username=slurm
    register: slurmweb_slurm_scontrol_generate

  - name: Setting slurmrestd JWT fact
    ansible.builtin.set_fact:
      slurmweb_slurmrestd_jwt_token: "{{ slurmweb_slurm_scontrol_generate.stdout | split('=') | last }}"
  when:
  - slurmweb_slurmrestd_auth == 'jwt'
  - slurmweb_slurmrestd_jwt_mode == 'static'

- name: Deploy slurm JWT signing key
  ansible.builtin.copy:
    src: "{{ slurmweb_local_slurmrestd_jwt_key_file }}"
    dest: "{{ slurmweb_slurmrestd_jwt_key }}"
    owner: slurm-web
    group: slurm-web
    mode: 0400
  when:
  - slurmweb_slurmrestd_auth == 'jwt'
  - slurmweb_slurmrestd_jwt_mode == 'auto'

- name: Deploy Slurm-web configuration files
  ansible.builtin.template:
    src: "{{ item }}.ini.j2"
    dest: "/etc/slurm-web/{{ item }}.ini"
    owner: root
    group: root
    mode: 0644
  loop:
  - agent
  - gateway
  notify:
  - Restart slurm-web-{{ item }} uWSGI

#
# slurm-web-gen-jwt-key needs gateway configuration file.
#
- name: Create JWT signing key
  ansible.builtin.command:
    cmd: "/usr/libexec/slurm-web/slurm-web-gen-jwt-key{% if slurmweb_slurmrestd_auth == 'local' %} --with-slurm{% endif %}"
    creates: "{{ slurmweb_jwt_key }}"

- name: Install systemd services for components
  ansible.builtin.copy:
    src: "/usr/share/slurm-web/wsgi/{{ item }}/slurm-web-{{ item }}-uwsgi.service"
    dest: "/etc/systemd/system/slurm-web-{{ item }}-uwsgi.service"
    remote_src: yes
    owner: root
    group: root
    mode: 0644
  loop:
  - agent
  - gateway

- name: Setup slurm-web agent to run as slurm system user
  block:
  - name: Create slurm-web agent service override directory
    ansible.builtin.file:
      path: "{{ slurmweb_agent_service_override_path | dirname }}"
      state: directory
      owner: root
      group: root
      mode: 0755

  - name: Deploy slurm-web agent service override file
    ansible.builtin.copy:
      content: |
        [Service]
        User=slurm
        Group=slurm
      dest: "{{ slurmweb_agent_service_override_path }}"
      owner: slurm
      group: slurm
      mode: 0644
    notify: Restart slurm-web-agent uWSGI
  when:
  - slurmweb_slurmrestd_auth == 'local'

- name: Create Slurm-web SSL directory
  ansible.builtin.file:
    path: "{{ slurmweb_tls_dir }}"
    state: directory
    recurse: true

- name: Deploy Slurm-web TLS certificate
  ansible.builtin.copy:
    src: "{{ slurmweb_local_tls_cert_file }}"
    dest: "{{ slurmweb_tls_cert_file }}"
    owner: root
    group: root
    mode: 0644

- name: Deploy Slurm-web TLS key
  ansible.builtin.copy:
    src: "{{ slurmweb_local_tls_key_file }}"
    dest: "{{ slurmweb_tls_key_file }}"
    owner: root
    group: root
    mode: 0600

- name: Ensure Slurm-web uWGSI are started
  ansible.builtin.systemd_service:
    name: "slurm-web-{{ item }}-uwsgi"
    state: started
    daemon_reload: true
  loop:
  - agent
  - gateway
