{% if ansible_facts.os_family == 'RedHat' %}
{% set org = ldap_base.split('dc=')[-1] %}
dn: {{ ldap_base }}
objectClass: top
objectClass: dcObject
objectClass: organization
o: {{ org }}
dc: cluster

{% endif %}
dn: ou=people,{{ ldap_base }}
ou: people
objectClass: organizationalUnit

dn: ou=groups,{{ ldap_base }}
ou: groups
objectClass: organizationalUnit

{% for group in ldap_groups %}
dn: cn={{ group.name }},ou=groups,{{ ldap_base }}
cn: {{ group.name }}
gidNumber: {{ ldap_first_gid + loop.index0 }}
objectClass: top
objectClass: posixGroup
{% if loop.index0 != 0 %}
{% for member in group.members %}
memberUid: {{ member }}
{% endfor %}
{% endif %}

{% endfor %}
{% for user in ldap_users %}
dn: uid={{ user.login }},ou=people,{{ ldap_base }}
objectClass: person
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
objectClass: top
uid: {{ user.login }}
cn: {{ user.firstname }} {{ user.lastname }}
givenName: {{ user.firstname }}
sn: {{ user.lastname }}
mail: {{ user.login }}@{{ ldap_email_domain}}
uidNumber: {{ ldap_first_uid + loop.index0 }}
gidNumber: {{ ldap_first_gid }}
userPassword: {{ ldap_user_password }}
homeDirectory: /home/{{ user.login }}
loginShell: /bin/bash

{% endfor %}
