all:
  children:
    admin:
      hosts:
{% for node in infrastructure.nodes.filter(tags=["admin"]) %}
        {{ node.name }}.{{ zone }}:
{% endfor %}
{% if not emulator_mode %}
    login:
      hosts:
{% for node in infrastructure.nodes.filter(tags=["login"]) %}
        {{ node.name }}.{{ zone }}:
{% endfor %}
    compute:
      hosts:
{% for node in infrastructure.nodes.filter(tags=["compute"]) %}
        {{ node.name }}.{{ zone }}:
{% endfor %}
{% endif %}
